server {
    listen 8080 default_server;
    server_name {{ app2_domain_name }};
    
    access_log /var/log/nginx/app.access.log time;
    access_log /var/log/nginx/log.access.log logs;

    set_real_ip_from {{ lb1_domain_name }};
    set_real_ip_from {{ lb2_domain_name }};
    real_ip_header X-Forwarded-For;

    location / {
        proxy_pass http://127.0.0.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $http_x_forwarded_for;
    }
}

server {
    listen 8081;

    location /metrics {
      proxy_pass http://127.0.0.1:4040;
    }
}
