upstream backend {
  server {{ app2_domain_name }}:8080;
  server {{ app1_domain_name }}:8080;

  check interval=3000 rise=1 fall=2 timeout=1000 type=http;
  check_http_send "GET / HTTP/1.0\r\n\r\n";
  check_http_expect_alive http_2xx;
}

server {
  listen 80 default_server;
  server_name {{ lb2_domain_name }};

  location / {
    return 301 https://{{ lb2_domain_name }}/$request_uri;
  }
}

server {
  listen 443 ssl http2;
  server_name {{ lb2_domain_name }};

  ssl_protocols TLSv1.1 TLSv1.2 TLSv1.3;
  ssl_certificate /etc/nginx/ssl/fullchain1.pem;
  ssl_certificate_key /etc/nginx/ssl/privkey1.pem;

  access_log /var/log/nginx/log.access.log logs;

  rewrite ^ /app;

  location /app {
    proxy_pass http://backend;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header Host $host;
  }
}

server {
    listen 8081;

    location /metrics {
      proxy_pass http://127.0.0.1:4040;
    }
}